.home {
  display: flex;

  &__aside {
    ul {
      & * + * {
        margin-top: 1.5rem;
      }

      li {
        padding: 0.7rem 3rem;
        color: white;
        background-color: #5959e6;
        border-radius: 0.5rem;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          transform: translateY(-0.5rem);
        }
      }
    }
  }

  &__main {
    ul {
      width: 100%;
    }

    & ul:nth-child(1) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      margin-bottom: 2rem;
      padding: 0 2rem;

      li {
        font-weight: 600;
        color: rgb(142, 142, 142);
        letter-spacing: 0.1rem;
      }
    }
  }

  &__container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
  }
}
