<section class="home section">
  <div class="home__aside">
    <ul>
      <li>Dashboard</li>
      <li>Emails</li>
      <li>Automations</li>
      <li>Lists</li>
      <li>Contacts</li>
      <li>Smart Pages</li>
      <li>Forms</li>
      <li>Campaign</li>
    </ul>
  </div>
  <div class="home__main">
    <div class="home__container">
      <ul>
        <li>Name</li>
        <li>Mobile</li>
        <li>Email</li>
        <li>Title</li>
        <li>Source</li>
      </ul>
      <app-contact-list [contactsList]="contacts"></app-contact-list>
    </div>
  </div>
</section>
