<section class="home section flex-container">
  <div class="home__aside flex-container__aside">
    <ul>
      <li>Dashboard</li>
      <li>Emails</li>
      <li>Automations</li>
      <li>Lists</li>
      <li>Contacts</li>
      <li>Smart Pages</li>
      <li>Forms</li>
      <li>Campaign</li>
    </ul>
  </div>
  <div class="home__main flex-container__main flex-container__main--home-flex">
    <div class="home__container">
      <ul>
        <li>Name</li>
        <li>Mobile</li>
        <li>Email</li>
        <li>Title</li>
        <li>Source</li>
      </ul>

      <div *ngIf="loading; then spinner; else contactsList"></div>

      <ng-template #spinner>
        <app-spinner></app-spinner>
      </ng-template>

      <ng-template #contactsList>
        <app-contact-list [contactsList]="contacts"></app-contact-list>
      </ng-template>
    </div>
  </div>
</section>
