.contact {
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    margin-top: 5rem;
    padding: 0 2rem;
  }

  &__info {
    margin-bottom: 2rem;

    span {
      margin-left: 2rem;
    }
  }

  &__icon {
    font-size: 2rem;
    color: rgba(14, 191, 141, 0.9);
  }
}
