<div *ngIf="browserWidth < mobileBrowserWidth; then app; else message"></div>
<ng-template #app>
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</ng-template>

<ng-template #message>
  <div class="app-message__container">
    <div class="app-message__img"></div>
    <p class="app-message__message">
      Please note that our application is currently only available on mobile
      devices. Reduce the screen width to 480 pixels or less to be able to see
      the application.
    </p>
  </div>
</ng-template>
