.contact {
  &__list {
    display: grid;
    row-gap: 2rem;

    & * + * > {
      margin-top: 1.5rem;
    }
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-weight: 500;
    background-color: white;
    color: rgb(142, 142, 142);
    padding: 2.3rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.7rem rgba(191, 190, 190, 0.3);

    div {
      display: flex;
      align-items: center;
    }
  }
}
