<ul class="contact__list">
  <li *ngFor="let contact of contactsList" class="contact__item">
    <div>
      <img [src]="contact.photo || noUserPhoto" alt="" class="contact__img" />
      <div class="contact__info">
        <p>
          {{ contact.name }}
        </p>
        <p>
          {{ contact.mobile }}
        </p>
      </div>
    </div>
    <div>
      <a
        class="contact__btn contact__btn--edit"
        routerLink="edit/{{ contact.id }}"
      >
        <fa-icon
          [icon]="icon.faPencilAlt"
          [ngStyle]="{ color: 'rgb(255, 255, 255)' }"
        ></fa-icon>
      </a>
      <a
        class="contact__btn contact__btn--view"
        routerLink="contact/{{ contact.id }}"
      >
        <fa-icon
          [icon]="icon.faEye"
          [ngStyle]="{ color: 'rgb(255, 255, 255)' }"
        >
        </fa-icon>
      </a>
    </div>
    <button
      class="contact__btn contact__btn--times"
      (click)="deleteContact(contact.id)"
    >
      <fa-icon
        [icon]="icon.faTimes"
        [ngStyle]="{ color: 'rgb(255, 255, 255)' }"
      >
      </fa-icon>
    </button>
  </li>
</ul>

<!-- <div class="contact__email">
      {{
        contact.email.length > 15
          ? contact.email.substr(0, 15) + "..."
          : contact.email
      }}
    </div>
    <div class="contact__title">{{ contact.title }}</div> -->
