<section
  class="edit-add section"
  [ngStyle]="{ height: '100%', padding: '3rem' }"
>
  <div *ngIf="loading; else contactForm">
    <app-spinner></app-spinner>
  </div>

  <ng-template #contactForm>
    <div class="edit-add__contact">
      <app-contact-header
        [photo]="singleContact.photo"
        [name]="singleContact.name"
      ></app-contact-header>
      <app-contact-form
        [contact]="singleContact"
        [groups]="contactGroups"
        (submit)="editContact()"
      ></app-contact-form>
    </div>
  </ng-template>
</section>
